<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_aurora"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_aurora"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aurora">
        <activity
            android:name=".ui.activities.AboutActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SupportActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.NotificationsActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCg6OVwsYZni3vwLz7FtNO7ztViAsEvBKc" />

        <service
            android:name=".service.AntiTheftService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service
            android:name=".service.SoundListenerService"
            android:exported="false"
            android:foregroundServiceType="microphone" />
        <service
            android:name=".service.TrackingService"
            android:exported="false"
            android:foregroundServiceType="location" />
        <receiver
            android:name=".service.BootReceiver"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" /> <!-- Para algunos HTC/Xiaomi -->
            </intent-filter>
        </receiver>
        <activity
            android:name=".ui.activities.FakeShutdownActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activities.BatteryOptimizationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.DevicesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SecurityActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SearchMapActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.TestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ContactsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>